*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    height:100vh;
    width:100%;
    background-color: rgb(182, 154, 154);
}
.main{
    background-color: rgb(255, 255, 255);
    margin: auto;
    margin-top:40px;
    width: 30%;
    border-radius: 25px;
    padding: 30px;

}
.imge{
    height: 100%;
    width: 100%;
    border-radius: 50px;
}
h1{
    text-align: center;
    
}
p{
    text-align: center;
}
last{
    padding: 40px;
    text-align: center;    
}
